<p id="notice"><%= notice %></p>

<h1>Prostitution</h1>

<table class="table">
  <thead>
    <tr>
      <th class="text-uppercase">Auteur</th>
      <th class="text-uppercase">Titre</th>
      <th class="text-uppercase">Date</th>
      <th class="text-uppercase">Description</th>
      <th class="text-uppercase">Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td class="text-muted"><strong><%= art.author%></strong></td>
        <td class="text-muted"><em><%= art.title %></em></td>
        <td class="text-muted"><%= art.date %></td>
        <td class="text-muted"><%= art.description %></td>
        <td ><%= image_tag art.image, class: 'img-fluid' %></td>
        <td class="btn"><%= link_to 'Afficher', art %></td>
        <td class="btn"><%= link_to 'Editer', edit_art_path(art) %></td>
        <td class="btn"><%= link_to 'Supprimer', art, method: :delete, data: { confirm: 'Êtes-vous sûrs de vouloir supprimer ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter une oeuvre', new_art_path %>
