<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= image_tag @image.url %>
</p>

<p>
  <strong>Mov:</strong>
  <%= link_to @image.mov, @image.mov, class: 'img-fluid' %>
</p>



<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
